<h1>Craete Emoji</h1>

<%= form_tag "/emojis", method: :post do  %>
  <%= label_tag :id %>
  <%= text_field_tag :id %><br>

  <%= label_tag :people %>
  <%= text_field_tag :people %><br>

  <%= label_tag :nature %>
  <%= text_field_tag :nature %><br>

  <%= label_tag :food_and_drink %>
  <%= text_field_tag :food_and_drink %><br>

  <%= label_tag :celebration %>
  <%= text_field_tag :celebration %><br>

  <%= label_tag :activity %>
  <%= text_field_tag :activity %><br>

  <%= label_tag :travel_and_places %>
  <%= text_field_tag :travel_and_places %><br>

  <%= label_tag :objects_and_symbols %>
  <%= text_field_tag :objects_and_symbols %><br>

  <%= label_tag :custom %>
  <%= text_field_tag :custom %><br>

  <%= label_tag :emoji %>
  <%= text_field_tag :emoji %><br>

  <%= submit_tag "Create Emoji" %>

<% end %>

